@font-face {
  font-family: "GoogleSans";
  src: url("/fonts/GoogleSans-Bold.ttf");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "GoogleSans";
  src: url("/fonts/GoogleSans-Medium.ttf");
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "GoogleSans";
  src: url("/fonts/GoogleSans-Regular.ttf");
  font-style: regular;
  font-weight: 400;
  font-display: swap;
}

:root {
  --bg_color: #f4f4f4;
  --bgt_color: rgba(22, 22, 22, 0.5);
  --mbgt_color: rgba(22, 22, 22, 0.6);
  --card_color: #ffffff;
  --border_color: #e8e8e8;
  --text_primary: #161616;
  --text_secondary: #aaaaaa;
  --select_color: #555555;
  --icon_color: #aaaaaa;
  --grid_border_color: rgba(170, 170, 170, 0.5);
  --grid_bar_first: #e8e8e8;
  --grid_bar_second: #aaaaaa;

  --static_white: #ffffff;
  --static_white50: rgba(255, 255, 255, 0.5);
  --static_black: #161616;
  --static_black30: rgba(22, 22, 22, 0.3);
  --static_red: #d32424;
  --static_red50: rgba(211, 36, 36, 0.5);
  --static_green: #32b949;
  --static_gray: #8e8e93;
  --static_blue: #2194f9;
  --static_purple: #ea2754;
  --static_pantone: #1cbfb9;
  --static_yellow: #ebac1e;
  --static_modal_bg: rgba(0, 0, 0, 0.5);
  --bg_gradient_0: rgba(244, 244, 244, 0);
  --bg_gradient_1: rgba(244, 244, 244, 1);
  --card_gradient_0: rgba(255, 255, 255, 0);
  --card_gradient_1: rgba(255, 255, 255, 1);
}
[data-theme="dark"] {
  --bg_color: #000000;
  --bgt_color: rgba(255, 255, 255, 0.5);
  --mbgt_color: rgba(22, 22, 22, 0.6);
  --card_color: #1a1a1a;
  --border_color: #2f2f2f;
  --text_primary: #ffffff;
  --text_secondary: #aaaaaa;
  --select_color: #ffffff;
  --icon_color: #aaaaaa;
  --grid_border_color: rgba(170, 170, 170, 0.1);
  --grid_bar_first: #1a1a1a;
  --grid_bar_second: #161616;

  --static_white: #ffffff;
  --static_white50: rgba(255, 255, 255, 0.5);
  --static_black: #161616;
  --static_black30: rgba(22, 22, 22, 0.3);
  --static_red: #d32424;
  --static_red50: rgba(211, 36, 36, 0.5);
  --static_green: #32b949;
  --static_gray: #8e8e93;
  --static_blue: #2194f9;
  --static_purple: #ea2754;
  --static_pantone: #1cbfb9;
  --static_yellow: #ebac1e;
  --static_modal_bg: rgba(0, 0, 0, 0.5);
  --bg_gradient_0: rgba(0, 0, 0, 0);
  --bg_gradient_1: rgba(0, 0, 0, 1);
  --card_gradient_0: rgba(26, 26, 26, 0);
  --card_gradient_1: rgba(26, 26, 26, 1);
}
* {
  margin: 0;
  padding: 0;
  font-family: GoogleSans;
  box-sizing: border-box;
}
html,
body {
  background-color: var(--bg_color);
}
html.overflow,
body.overflow {
  overflow-y: hidden;
}

#__next {
  display: grid;
  justify-items: center;
}
.wrapper {
  min-width: 1000px;
  max-width: 1440px;
  width: 100%;
  padding: 0 84px;
}

.page_wrapper {
  min-width: 1000px;
  max-width: 1440px;
  width: 100%;
  padding: 96px 84px 48px;
  min-height: calc(100vh - 272px);
}

input {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
  color: var(--text_primary);
}
input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: var(--select_color);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

button {
  background-color: none;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.dialog_shadow {
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.16);
}
[data-theme="dark"] .dialog_shadow {
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.5);
}
.filter_shadow {
  filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.4)) !important;
}
[data-theme="dark"] .filter_shadow {
  filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.5)) !important;
}
.item_shadow {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.18);
}
[data-theme="dark"] .item_shadow {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.7);
}
.modal_shadow {
  box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.2);
}
[data-theme="dark"] .modal_shadow {
  box-shadow: 0px 12px 48px 0px rgba(0, 0, 0, 0.8);
}
